// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.6875rem;
$line-height-base: 1.6;

// Navbar
$navbar-dark-color: rgba(#fff, 0.8);
$navbar-dark-hover-color: rgba(#fff, 0.95);

$primary: #0468ff;
$success: #4db24d;
$info: #5bc0de;
$info: #0fc5ff;
$warning: #f0ad4e;
$danger: #ed1c24;

// Text
$text-danger: #ed1c24;
$text-secondary: #a6afb8;
$text-muted: #6e6e6f;

// Button
$btn-info: #0fc5ff;
